<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <!-- <script src="{% static '/js/base.js' %}"></script> -->
    {% block title %}<title>Document</title> {% endblock %}
    <script src="https://kit.fontawesome.com/4b101f2ca7.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>


  <nav class="hamberger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    
    <div class="logo-header">
      <a href="#"><img class="logo" src="static/images/logo/xs-logo.png" alt=""></a>
    </div>
    <div class="nav-links">
    <ul class="links">
      <li class="c-list"><a href="#">About</a></li>
      <li class="c-list"><a href="#">Contact</a></li>
      <li class="c-list"><a href="#">Projects</a></li>
    </ul>
  </div>
  </nav>


   {% block content %}{% endblock %}

</body>
</html>